<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" />
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>
    <title>Image gallery</title>
</head>
<body>
    <h1>Image gallery</h1>
    <div class="container">
        <div class="row">
            <div class="item">
                <a data-fancybox href="../static/../static/img/image1.jpg"> <img src="../static/img/image1.jpg" alt=""></a>
            </div>
            <div class="item">
                <a data-fancybox href="../static/img/image2.jpg"> <img src="../static/img/image2.jpg" alt=""></a>
            </div>
            <div class="item">
                <a data-fancybox href="../static/img/image3.jpg"> <img src="../static/img/image3.jpg" alt=""></a>
            </div>     
        </div>
        <div class="row">
            <div class="item">
                <a data-fancybox href="../static/img/image4.jpg"> <img src="../static/img/image4.jpg" alt=""></a>
            </div>
            <div class="item">
                <a data-fancybox href="../static/img/image5.jpg"> <img src="../static/img/image5.jpg" alt=""></a>
            </div>
            <div class="item">
                <a data-fancybox href="../static/img/image6.jpg"> <img src="../static/img/image6.jpg" alt=""></a>
            </div>  
        </div>
<!--    3K + 1 images     
        <div class="item">
            <a data-fancybox href="../static/img/image7.jpg"> <img src="../static/img/image7.jpg" alt=""></a>
        </div> -->
   <!-- 3K + 2 images       -->
        <div class="row">
            <div class="item">
                <a data-fancybox href="../static/img/image7.jpg"> <img src="../static/img/image7.jpg" alt=""></a>
            </div>
            <div class="item">
                <a data-fancybox href="../static/img/image8.jpg"> <img src="../static/img/image8.jpg" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>